html {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    color: var(--beige);
    font-family: "Times New Roman", Times, serif;
}

body {
    overflow: hidden;
    background-color:  var(--velvet);
}

h1 {

}

h3 {
    margin-bottom: 0;
}

.top-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bottom-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
}

.bottom-bar a {
    transition: transform 0.15s ease-in-out;
    text-weight: bold;
    font-size: 2.5vh;
    text-decoration: none;
    padding: 8px;
    color: var(--beige);
}

.bottom-bar a:hover {
    transform: scale(1.1);
}

.arrow {
    min-height: 50px;
    height: 8vh;
    transition: transform 0.3s ease-in-out;
    transform: rotate(180deg);
}

.rotate {
    transform: rotate(0deg);
}

.simple-button {
    background: none;
    border: none;
    padding: 10px;
    outline: none;
    color: inherit;
    transition: transform 0.15s ease-in-out;
}

.simple-button:hover {
    transform: scale(1.1);
}

#overlay-menu {
    transition: transform 0.3s ease-in-out;
    position: absolute;
    top: 15vh;
    background-color: none;
    padding: 10px;
}

#overlay-menu a {
    display: block;
    text-weight: bold;
    text-decoration: none;
    padding: 8px;
    color: var(--beige);
}

#overlay-menu a:hover {
    background-color: #756f59;
}

.hidden {
    transform: translateY(-250%);
}

.italicized {
    text-weight: bold;
}

.box {
    height: 75vh;
}

#intro-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in {
    opacity: 1 !important;
}

#box-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 1s ease-in-out;
}


:root {
    --beige: #ebd58f;
    --velvet: #34004d;
}

