html {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
}

.main {

}

.bottom-home-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    margin: 10%;
    text-align: center;
    height: 20vh;
    font-size: 7vh;
}

h2 {
    text-align: center;
}